/*Estilos da pagina index.html*/
.center{
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{

    justify-content: space-between;
    text-align:center;

}

.container{
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
}

#menu li{
display: inline;
padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu li a:hover{   /*hover = quando o mouse estiver em cima a cor dele vai mudar*/
 color: rgb(255, 0, 0);
}
.p-30{
    padding: 30px;
}

.br-50{

    border-radius: 50px;
}

.wh{
    width: 300px;
    height: 300px;
}

.tm-social{
    width: 30px;
    height: 30px;
    
}

/*Estilos de pagina contato.html*/